* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aliceblue;
  min-height: 100vh;
  margin: 0;
}

main-header {
  position: fixed;
  width: 100%;
  min-height: 20px;
  padding: 20px;
  background-color: aliceblue;
  /* transition: 0.2s; */
}

main-footer {
  margin: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

main-footer {
  margin-top:auto;
}

.headerText{
  text-align: center;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
}

.text {
  width: 50%;
  margin: 10px auto;
}

.textInput {
  /* position: relative; */
  width: 100%;
  height: 150px;
}

.cipherColumns {
  margin: 20px;
}

cipher-columns {
  display: flex;
  grid-template-columns: repeat(3, auto);
  display: grid;
  justify-items: space-between;
}

.cipherColumn {
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cipherBody {
  height: 100%;
  margin:auto 0;
}

.columnTitle {
  text-align: center;
  border: solid 1px black;
  margin: 0;
  padding: 10px;
}

#quote {
  position: relative;
  float: right;
  text-align: justify;
  height: 100%;
  width: 40%;
  box-sizing: border-box;
}

#caesarText, #rot13Text, #vigText {
  width: 100%;
  box-sizing: border-box;
}

.textBoxInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  float: right;
  width: 60px;
  height: 34px;
  margin-top: 8px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cipherBody {
    margin-top: 15vh;
    height: auto;
  }

  .text {
    width: 80%;
  }
  .cipherColumn {
    display: inline-table;
    width: 80%;
  }
  .cipherColumns {
    width: 100%;
    margin: 5vh 0;
  }
  cipher-columns {
    display: flex;
    grid-template-columns: repeat(1, auto);
    display: grid;
    justify-items: center;
  }
}